<!DOCTYPE html>
<html>
<head>
  <title>SuperSecretPuppies</title>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-2.2.0.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%=javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
  <%=stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Super Secret Puppies", root_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Puppies", puppies_path %></li>
        </ul>
        <% if defined?(current_user) %>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li class="navbar-text">Hello <%= current_user.email %></li>
              <li><%= link_to "Sign out", destroy_user_session_path %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end -%>
          </ul>
        <% end -%>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <main class="container">

  <%= content_tag :div, flash[:notice], class: "flash bg-success" if flash[:notice] %>
  <%= content_tag :div, flash[:alert], class: "flash bg-danger" if flash[:alert] %>
    <%= yield %>
  </main>
</body>
</html>
